test-data/*
.env

terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl
config.tfvars

transformations/target
transformations/dbt-env
transformations/logs
transformations/dbt_packages