test-data/*
.env

/.idea

transformations/target
transformations/dbt-env
transformations/logs
transformations/dbt_packages
transformations/targets
transformations/dbt-logs
transformations/tests/__pycache__
transformations/tests/.pytest_cache
